/* General Form Styling */
h1 {
    font-family: Sans-Serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2rem;
}

form {
    font-family: Sans-Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field mat-label {
    font-size: 1rem;
    color: #333;
}

button[mat-stroked-button] {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.user_info {
    margin: 10px;
}
a {
    font-family: Sans-Serif;
    color: deepskyblue;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: rgb(9, 163, 214);
    border-bottom: 2px solid rgb(9, 163, 214);
}
