/* General Form Styling */
h1 {
    font-family: Sans-Serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2rem;
}

form {
    font-family: Sans-Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Angular Material Form Field Styling */
mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field mat-label {
    font-size: 1rem;
    color: #333;
}

/* Button Styling */
button[mat-stroked-button] {
    border-radius: 5px;
    border: 2px solid #007ACC;
    font-size: 1rem;
    color: white;
    background-color: skyblue;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}

button[mat-stroked-button]:hover {
    border-color: rgb(9, 163, 214);
    background-color: rgb(91, 188, 227);
}

/* Additional Button Style for Return Button */
button[routerLink] {
    background-color: transparent;
    border-color: transparent;
    color: deepskyblue;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}

button[routerLink]:hover {
    color: rgb(9, 163, 214);
}

.user_info {
    margin: 10px;
}
a {
    font-family: Sans-Serif;
    color: deepskyblue;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: rgb(9, 163, 214);
    border-bottom: 2px solid rgb(9, 163, 214);
}
