.login-components {
    font-family: Sans-Serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 20px;
    font-size: 20px;
    width: 100px;
    text-align: right;
}

input[id='email'],
input[id='password'] {
    border-radius: 50px;
    width: 300px;
    height: 50px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    padding: 15px;
    font-size: 20px;
}

input[type='submit'] {
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: deepskyblue;
    font-size: 24px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: skyblue;
    text-align: center;
    line-height: 80px;
}

input[type='submit']:hover {
    border-color: rgb(9, 163, 214);
    background-color: rgb(91, 188, 227);
}