div{
    background-color: skyblue;
}
/* Header Styling */
h1 {
    font-family: "Sans-Serif", Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2.5rem;
    color: #007ACC;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Section Styling */
section {
    display: flex;
    padding: 0px 14px 14px 14px;
    background-color: skyblue;
}

/* Link Styling */
section a {
    font-family: Sans-Serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-weight: bold;
}

section a:hover {
    color: #007ACC;
    border-bottom: 3px solid white;
}

section a.active {
    background-color: deepskyblue;
    color: white;
}