

.trashcan {
    cursor: pointer;
    height: 13px;
    padding: 0px;
}
h1 {
    font-family: Sans-Serif;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-family: Sans-Serif;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

div {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}
.filter {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.title {
    display: flex; 
    align-items: center; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 10%;
    margin-left: 10%;
}


.tableSection {
    width: auto;
}

button[mat-stroked-button] {
    display: block;
    text-align: center;
    margin-left: auto;
}

.pendingUser {
    margin-top: 2rem;
}

table {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
    word-wrap: normal;
}

th, td {
    padding: 5px 75px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 1050px) {
    th, td {
        padding: 5px 30px; /* Further reduce padding on small screens */
    }
}


tr:hover {
    background-color: #E0EFF9;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

img {
    width: 25px;
    height: auto;
    padding-right: 10px;
}

.resend {
    background-color: skyblue;
    color: white;
    border-radius: 8px;
    padding: 7px 8px;
    height: 100%;
    font-size: 14px;
    text-transform: none;
    min-width: auto;
    box-shadow: none;
    border: none;
    white-space: nowrap;
    font-weight: bold;
}

.resend:hover {
    background-color: #44A4DC;
    cursor: pointer;
}


.mat-accent.mat-mdc-checkbox {
    --mdc-checkbox-selected-pressed-icon-color: rgb(106, 200, 238);
    --mdc-checkbox-selected-checkmark-color: #ffffff;
    --mdc-checkbox-selected-focus-icon-color: rgb(106, 200, 238);;
    --mdc-checkbox-selected-hover-icon-color: rgb(104, 168, 194);
    --mdc-checkbox-selected-icon-color: skyblue;
    --mdc-checkbox-selected-focus-state-layer-color: rgb(106, 200, 238);;
    --mdc-checkbox-selected-hover-state-layer-color:rgb(104, 168, 194);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgb(104, 168, 194);
    --mat-checkbox-disabled-label-color: rgba(26, 27, 31, 0.38);
    --mat-checkbox-label-text-color: #1a1b1f;
}

.mat-accent.mat-mdc-slide-toggle {
    --mdc-switch-selected-focus-state-layer-color: skyblue;
    --mdc-switch-selected-handle-color: #ffffff;
    --mdc-switch-selected-hover-state-layer-color: skyblue;
    --mdc-switch-selected-pressed-state-layer-color: skyblue;
    --mdc-switch-selected-focus-handle-color: #e0faff;
    --mdc-switch-selected-hover-handle-color: #e0faff;
    --mdc-switch-selected-pressed-handle-color: #e0faff;
    --mdc-switch-selected-focus-track-color: skyblue;
    --mdc-switch-selected-hover-track-color: skyblue;
    --mdc-switch-selected-pressed-track-color: skyblue;
    --mdc-switch-selected-track-color: skyblue;
    --mdc-switch-selected-icon-color: skyblue;
    --mat-switch-track-outline-color: #74777f;
    --mat-switch-disabled-unselected-track-outline-color: #1a1b1f;
    --mat-switch-label-text-color: #1a1b1f;
}