
.trashcan {
    cursor: pointer;
    height: 13px;
    padding: 0px;
}

button[mat-stroked-button] {
    margin-left: auto;
    display: block;
    text-align: center;
    margin-right: 20px;
}

h1 {
    font-family: Sans-Serif;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2rem;
    padding-left: 30px;
    font-weight: bold;
    margin-right: auto;
}

section {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tableSection {
    display: flex;
    padding: 15px;
}

th, td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1050px) {
    td {
        max-width: 200px;
    }
}

tr:hover {
    background-color: #E0EFF9;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.filter {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.filterTable {
    padding-left: 1rem;
    padding-top: 25px;
}